@font-face {
  font: {
    family: "Raleway";
    style: normal;
    weight: 400;
  }
  src: url("fonts/Raleway/Raleway.woff2") format("woff2");
}

@font-face {
  font: {
    family: "Inconsolata";
    style: normal;
    weight: 400;
  }
  src: url("fonts/Inconsolata/Inconsolata.woff2") format("woff2");
}
